@font-face {
    font-family: 'GenJyuuGothic-Monospace-Regular';
    src: url(../font/GenJyuuGothic-Monospace-Regular.woff) format("woff"),
        url(../font/GenJyuuGothic-Monospace-Regular.ttf) format("truetype"),
        url(../font/GenJyuuGothic-Monospace-Regular.eot) format("embedded-opentype");
}

html{
    margin: auto;
    width: 1280px;
    height: 100%;
    background-color:#E7E4E1;
    
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body{
    max-width: 1280px;
    margin: 0;
}
header{
    width: 1280px;
    margin-top: 0;
    background-image: url(../img/pic/header_bg.png);
}
.header_bg{
    height: 153px;
}
.header_logo{
    position: relative;
    width: 156px;
    height: 118px;
    left: 50px;
    top: 8px;
    width: 156px;
    height: 118px;
}
nav{
    position: absolute;
    width: 1280px;
    height: 153px;
    top: 0px;
}
.header_list{
    position: relative;
    width: 298px;
    height: 73px;
    left: 982px;
    top: 52px;
    font-family: GenJyuuGothic-Monospace-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.header_list p{
    
    color:#E5E5E5;
    width: 31px;
    height: 73px;
    writing-mode: vertical-rl;
    margin: 20px;
    letter-spacing: 5px;
}
nav a{

    text-decoration: none;
}
.header_list p:hover{
    
    background-color: #A84832 ;
    color: #E5E5E5;
}
.content-area{
    position: relative;
    background-color: #DCD6D0;
    width: 1280px;
    height: 2250px;

}
.content-1{
    position: absolute;
    margin-top: 0px;
    width: 1280px;
    height: 1125px;
}
.content-img{
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
    width: 1080px;
    height: 909px;
}
.content-2{
    position: absolute;
    margin-top: 1109px;
    width: 1280px;
    height: 1125px;
}
.title1{
    position: absolute;
    margin-top: 50px;
    left: 100px;
    width: 137px;
    height: 24px;
}
.title2{
    position: absolute;
    margin-top: 50px;
    left: 100px;
    width: 137px;
    height: 24px;
}
.title_text{
    position: relative;
    width: 111px;
    height: 20px;
    left: 16px;
    top: 4px;
    margin: 0px;

    font-family: GenJyuuGothic-Monospace-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #918B84;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title_white_box{
    position: absolute;
    width: 95px;
    height: 30px;
    left: 23px;
    top: 0px;

    background: rgba(255, 255, 255, 0.8);
}
.title_red_box{
    position: absolute;
    width: 94px;
    height: 10px;
    left: 43px;
    top: 23px;

    background: #EB5635;
}

.stills{
    width: 510px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
}

.stills .plot{
    width: 480px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    background-color: #708090;
    opacity:0.8;
    color: #DCD6D0;
    
}

.plot h2{
    margin: 0 0 5px;
    padding:0 0 5px;
    color:#fff;
    
    font-style: bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    font-family: GenJyuuGothic-Monospace-Regular;
}

.plot p{
    font-size: 14px;
    margin-bottom: 5px;
    font-family: GenJyuuGothic-Monospace-Regular;
}

.plot a{
    font-family: GenJyuuGothic-Monospace-Regular;
}



.stills .link{
    text-align:center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}
.stills:hover img{
    transform:scale(1.2,1.2);;
}
.stills img{
    transition: transform 0.4s;
}
.stills .plot{
    transform: translateY(100%);
    transition: transform 0.4s;
    

}
.stills:hover .plot{
    transform: translateY(0px);
}
.straight{
    position: relative;
    width:510px; 
    height:273px;
    overflow:hidden;
}
.straight img{
    /*max-height: 100%;*/
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.horizonal{
    position: relative;
    width:510px; 
    height:273px;
    overflow:hidden;
}
.horizonal img{
    max-height: 100%;
    /*max-width: 100%; */
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.stills img{
    margin-left: 0px;
    margin-right: 0px;
}

footer{
    background-color: #DCD6D0;
    position: absolute;
    background-image: url(../img/pic/footer_bg.png);
    height:208px;
    width: 1280px ;
}

.footer_logo{
    position: absolute;
    right: 0;
    left: 1106px;

}
.fb{
    position: absolute;
    right: 338px;
    bottom: 50px;

}
.twitter{
    position: absolute;
    right: 268.16px;
    bottom: 54px;

}
.ig{
    position: absolute;
    right: 196px;
    bottom: 50px;
}
footer p{
    position: absolute;
    color: #E5E5E5;
    margin: 0;
    bottom:14px;
    width: 500px;
    height: 16px;
    left: 442px;
    top: 180px;

    font-family: GenJyuuGothic-Monospace-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
}