.html{
    margin: auto;
    width: 1280px;
    height: 100%;
    background-color:#E7E4E1;
}
body{
    margin: 0%;
}
header{
    height: 153px;
    background-image: url(/pic/header_bg.png);
}
.header_bg{
    width: 1280px;
}
.header_logo{
    position: absolute;
    width: 156px;
    height: 118px;
    left: 50px;
    top: 8px;
    width: 156px;
    height: 118px;
}
.header_list{
    color:#E5E5E5;
    position: absolute;
    width: 298px;
    height: 73px;
    right: 0px;
    top: 52px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.header_list p{
    width: 31px;
    height: 73px;
    writing-mode: vertical-rl;
    margin: 20px;
    letter-spacing: 5px;
}
content{
    background-color: #E7E4E1;
    height: 1018px;

}
footer{
    background-image: url("/pic/footer_bg.png");
    height:208px;
}

.footer_logo{
    position: relative;
    margin-right: 0%;

}
.fb{
    position: absolute;
    right: 338px;
    bottom: 50px;

}
.twitter{
    position: absolute;
    right: 268.16px;
    bottom: 50px;

}
.ig{
    position: relative;
    right: 196px;
    bottom: 50px;
}
footer p{
    color: #E5E5E5;
    margin: 0;
    bottom:14px;
}