.html{
    margin: auto;
    width: 1280px;
    height: 100%;
    background-color:#E7E4E1;
    box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body{
    max-width: 1280px;
    margin: 0;
}
header{
    width: 1280px;
    margin-top: 0;
    background-image: url(/pic/header_bg.png);
}
.header_bg{
    height: 153px;
}
.header_logo{
    position: absolute;
    width: 156px;
    height: 118px;
    left: 50px;
    top: 8px;
    width: 156px;
    height: 118px;
}
.header_list{
    position: relative;
    width: 298px;
    height: 73px;
    left: 982px;
    top: 52px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.header_list p{
    
    color:#E5E5E5;
    width: 31px;
    height: 73px;
    writing-mode: vertical-rl;
    margin: 20px;
    letter-spacing: 5px;
}
nav a{
    text-decoration: none;
}
.header_list p:hover{
    
    background-color: #A84832 ;
    color: #E5E5E5;
}
.content-area{
    position: relative;
    background-color: #E7E4E1;
    width: 1280px;
    height: 1027px;

}
.top_img{
    position: relative;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 425px;
}
.pro_pic_bg{
    width: 1280px;
    height: 425px;
}
.circle{
    position: absolute;
    width: 295px;
    height: 295px;
    left: 473px;
    top: 29px;
}
.moon{
    position: absolute;
    width: 301px;
    height: 301.88px;
    left: 506px;
    top: 53px;

}
.middle_content{
    position: absolute;
    left: 0px;
    top: 425pxpx;
    width: 1280px;
    height: 593px;
}
.top_dotted_line{
    position: absolute;
    width: 1280px;
    height: 5px;
    left: 0px;
    top: 0px;
}
.title1{
    position: absolute;
    top: 25px;
    left: 171px;
    width: 137px;
    height: 24px;
}
.title1_text{
    position: relative;
    width: 111px;
    height: 20px;
    left: 20px;
    top: 4px;
    margin: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #918B84;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title1_white_box{
    position: absolute;
    width: 95px;
    height: 21px;
    left: 23px;
    top: 0px;

    background: rgba(255, 255, 255, 0.8);
}
.title1_red_box{
    position: absolute;
    width: 94px;
    height: 6px;
    left: 43px;
    top: 18px;

    background: #EB5635;
}
.middle_dotted_line{
    position: absolute;
    width: 900px;
    height: 2.43px;
    left: 190px;
    top: 167px;
}
.title2{
    position: absolute;
    top: 197px;
    left: 171px;
    width: 137px;
    height: 24px;
}
.title2_text{
    position: relative;
    width: 111px;
    height: 20px;
    left: 20px;
    top: 4px;
    margin: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #918B84;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.latest_img{
    position: absolute;
    left: 213px;
    top: 254px;
    width: 853px;
    height: 273px;
}
.zootopia{
    position: relative;
    width:273px; 
    height:273px;
    overflow:hidden;
}
.zootopia img{
    /*max-height: 100%;*/
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    transform:scale(1,1);transition: all 1s ease-out;
}
.zootopia img:hover{
    transform:scale(1.2,1.2);
}
.FuHua{
    position: relative;
    left: 290px;
    bottom: 273px;
    width:273px; 
    height:273px;
    overflow:hidden;
}
.FuHua img{
    max-height: 100%;
    /*max-width: 100%; */
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    transform:scale(1,1);transition: all 1s ease-out;
}
.FuHua img:hover{
    transform:scale(1.2,1.2);
}
.nokk{
    position: relative;
    left: 580px;
    bottom: 546px;
    width:273px; 
    height:273px;
    overflow:hidden;
}
.nokk img{
    /*max-height: 100%;*/
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    transform:scale(1,1);transition: all 1s ease-out;
}
.nokk img:hover{
    transform:scale(1.2,1.2);
}

footer{
    background-color: #E7E4E1;
    position: absolute;
    background-image: url("/pic/footer_bg.png");
    height:208px;
    width: 1280px ;
}

.footer_logo{
    position: absolute;
    right: 0;
    left: 1106px;

}
.fb{
    position: absolute;
    right: 338px;
    bottom: 50px;

}
.twitter{
    position: absolute;
    right: 268.16px;
    bottom: 54px;

}
.ig{
    position: absolute;
    right: 196px;
    bottom: 50px;
}
footer p{
    position: absolute;
    color: #E5E5E5;
    margin: 0;
    bottom:14px;
    width: 395px;
    height: 16px;
    left: 442px;
    top: 180px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
}